*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
    margin-top: 3rem;
    padding: 40px;
    border-radius: 2px;
    min-height: 80vh;
    background-color: rgba(228, 245, 247, 0.382);
}

.notes{
    padding: 10px;
}

.title{
    font-weight: bold;
    margin-left: 30px;
}



.btn-input{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #052f6e;
    margin-left: 30px;
}



/* sidebar */
a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Navigation STyling */

.all-notes{
    margin: 25px 0 10px 30px;
    font-weight: bold;
}

.main-nav {
    width: 260px;
    background: transparent;
    height: auto;
}

.main-nav li{
    background-color: transparent;
    padding: 5px;
    margin-top: 10px;
}

.main-nav li:hover {
    background-color:#0D6AF4;
    border-radius: 20px;
}

.main-nav li:focus, li:active {
    background-color: #0D6AF4;
    color: black;
    border: none;
    background: none;
}

.main-nav a:hover {
    background: rgb(220, 248, 248);
}

.main-nav-ul ul {
    display: none;
}

.main-nav-ul li:hover ul {
    display: block;
}

.main-nav-ul ul a:before {
    content: "\203A";
    margin-right: 20px;
}

.main-nav .sub-arrow:after {
    content: "\203A";
    float: right;
    margin-right: 30px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

.main-nav li:hover .sub-arrow:after {
    content: "\2039";
}


/*note*/

.note{
    font-weight: bold;
}

.content{
    font-weight: 100;
    margin-top: 4rem;
}

.category{
    font-weight: normal;
}





/*notes*/
.btn-create.btn.btn-primary{
    margin-left: 150px;
    border-radius: 30px;
    background-color: transparent;
    color: #0D6AF4;
}

.btn-create.btn.btn-primary:hover{
    background-color: #0D6AF4;
    color: white;
}





/*content*/
.content{
    margin: 4rem 8rem 0 0 ;
}

